/** GENERATED training **/

:root{
    --cw-training-text-color: #FFFFFF;
    --cw-training-color:#4591dc;
    --cw-training-color-rgb: 69,145,220;
    --cw-training-color-darken1:#3E83C7;
    --cw-training-color-darken2:#3978B7;
}

.btn-training{
    --bs-btn-color: var(--cw-training-text-color) !important;
    --bs-btn-bg: var(--cw-training-color) !important;
    --bs-btn-border-color: var(--cw-training-color) !important;
    --bs-btn-hover-color: var(--cw-training-text-color) !important;
    --bs-btn-hover-bg: var(--cw-training-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-training-color-darken1) !important;
    --bs-btn-active-color: var(--cw-training-text-color) !important;
    --bs-btn-active-bg: var(--cw-training-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-training-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-training-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-training-color) !important;
    --bs-btn-disabled-border-color: var(--cw-training-color) !important;
}

.btn-training.nav-link {
    color:var(--cw-training-text-color) !important;
}
.btn-training.nav-link:hover {
    color:var(--cw-training-text-color) !important;
}

.buttons-training .btn-actions.active{
    border: solid 3px var(--cw-training-color);
}

.bg-training{
    background-color: var(--cw-training-color) !important;
    color:var(--cw-training-text-color) !important;
}

.card-header.bg-training{
    background: linear-gradient(0deg, rgba(var(--cw-training-color-rgb),0.7) 0%, rgba(var(--cw-training-color-rgb),0.9) 100%) !important;
    color:var(--cw-training-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-training-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-training-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-training{
    border-color: rgba(var(--cw-training-color-rgb), 0.3) !important;
}

.table-training:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-training-color-rgb), 0.2) !important;
}
.table-training:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-training-color-rgb), 0.7) !important;
    color:var(--cw-training-text-color);
}
.table-striped.table-training > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-training-color-rgb), 0.2) !important;
}

.table-training thead th{
    background: rgb(var(--cw-training-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-training-color-rgb),0.3) 0%, rgba(var(--cw-training-color-rgb),0.5) 100%) !important;
    color:var(--cw-training-text-color) !important;
    border-color:var(--cw-training-text-color) !important;
}

.table-training thead tr{
     border-color:transparent;
 }
.table-training tfoot tr{
    border-color:transparent;
 }
.text-training{
    color:var(--cw-training-color) !important;
 }


.training.form-check-input:checked {
    background-color: var(--cw-training-color);
    border-color: var(--cw-training-color);
}
/** END GENERATED training **/

/** GENERATED tool **/

:root{
    --cw-tool-text-color: #FFFFFF;
    --cw-tool-color:#94378a;
    --cw-tool-color-rgb: 148,55,138;
    --cw-tool-color-darken1:#86317D;
    --cw-tool-color-darken2:#7B2D73;
}

.btn-tool{
    --bs-btn-color: var(--cw-tool-text-color) !important;
    --bs-btn-bg: var(--cw-tool-color) !important;
    --bs-btn-border-color: var(--cw-tool-color) !important;
    --bs-btn-hover-color: var(--cw-tool-text-color) !important;
    --bs-btn-hover-bg: var(--cw-tool-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-tool-color-darken1) !important;
    --bs-btn-active-color: var(--cw-tool-text-color) !important;
    --bs-btn-active-bg: var(--cw-tool-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-tool-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-tool-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-tool-color) !important;
    --bs-btn-disabled-border-color: var(--cw-tool-color) !important;
}

.btn-tool.nav-link {
    color:var(--cw-tool-text-color) !important;
}
.btn-tool.nav-link:hover {
    color:var(--cw-tool-text-color) !important;
}

.buttons-tool .btn-actions.active{
    border: solid 3px var(--cw-tool-color);
}

.bg-tool{
    background-color: var(--cw-tool-color) !important;
    color:var(--cw-tool-text-color) !important;
}

.card-header.bg-tool{
    background: linear-gradient(0deg, rgba(var(--cw-tool-color-rgb),0.7) 0%, rgba(var(--cw-tool-color-rgb),0.9) 100%) !important;
    color:var(--cw-tool-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-tool-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-tool-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-tool{
    border-color: rgba(var(--cw-tool-color-rgb), 0.3) !important;
}

.table-tool:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-tool-color-rgb), 0.2) !important;
}
.table-tool:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-tool-color-rgb), 0.7) !important;
    color:var(--cw-tool-text-color);
}
.table-striped.table-tool > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-tool-color-rgb), 0.2) !important;
}

.table-tool thead th{
    background: rgb(var(--cw-tool-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-tool-color-rgb),0.3) 0%, rgba(var(--cw-tool-color-rgb),0.5) 100%) !important;
    color:var(--cw-tool-text-color) !important;
    border-color:var(--cw-tool-text-color) !important;
}

.table-tool thead tr{
     border-color:transparent;
 }
.table-tool tfoot tr{
    border-color:transparent;
 }
.text-tool{
    color:var(--cw-tool-color) !important;
 }


.tool.form-check-input:checked {
    background-color: var(--cw-tool-color);
    border-color: var(--cw-tool-color);
}
/** END GENERATED tool **/

/** GENERATED link **/

:root{
    --cw-link-text-color: #FFFFFF;
    --cw-link-color:#dc4583;
    --cw-link-color-rgb: 220,69,131;
    --cw-link-color-darken1:#C73E77;
    --cw-link-color-darken2:#B7396D;
}

.btn-link{
    --bs-btn-color: var(--cw-link-text-color) !important;
    --bs-btn-bg: var(--cw-link-color) !important;
    --bs-btn-border-color: var(--cw-link-color) !important;
    --bs-btn-hover-color: var(--cw-link-text-color) !important;
    --bs-btn-hover-bg: var(--cw-link-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-link-color-darken1) !important;
    --bs-btn-active-color: var(--cw-link-text-color) !important;
    --bs-btn-active-bg: var(--cw-link-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-link-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-link-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-link-color) !important;
    --bs-btn-disabled-border-color: var(--cw-link-color) !important;
}

.btn-link.nav-link {
    color:var(--cw-link-text-color) !important;
}
.btn-link.nav-link:hover {
    color:var(--cw-link-text-color) !important;
}

.buttons-link .btn-actions.active{
    border: solid 3px var(--cw-link-color);
}

.bg-link{
    background-color: var(--cw-link-color) !important;
    color:var(--cw-link-text-color) !important;
}

.card-header.bg-link{
    background: linear-gradient(0deg, rgba(var(--cw-link-color-rgb),0.7) 0%, rgba(var(--cw-link-color-rgb),0.9) 100%) !important;
    color:var(--cw-link-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-link-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-link-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-link{
    border-color: rgba(var(--cw-link-color-rgb), 0.3) !important;
}

.table-link:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-link-color-rgb), 0.2) !important;
}
.table-link:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-link-color-rgb), 0.7) !important;
    color:var(--cw-link-text-color);
}
.table-striped.table-link > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-link-color-rgb), 0.2) !important;
}

.table-link thead th{
    background: rgb(var(--cw-link-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-link-color-rgb),0.3) 0%, rgba(var(--cw-link-color-rgb),0.5) 100%) !important;
    color:var(--cw-link-text-color) !important;
    border-color:var(--cw-link-text-color) !important;
}

.table-link thead tr{
     border-color:transparent;
 }
.table-link tfoot tr{
    border-color:transparent;
 }
.text-link{
    color:var(--cw-link-color) !important;
 }


.link.form-check-input:checked {
    background-color: var(--cw-link-color);
    border-color: var(--cw-link-color);
}
/** END GENERATED link **/

/** GENERATED customer **/

:root{
    --cw-customer-text-color: #FFFFFF;
    --cw-customer-color:#cb318d;
    --cw-customer-color-rgb: 203,49,141;
    --cw-customer-color-darken1:#B82C80;
    --cw-customer-color-darken2:#A92875;
}

.btn-customer{
    --bs-btn-color: var(--cw-customer-text-color) !important;
    --bs-btn-bg: var(--cw-customer-color) !important;
    --bs-btn-border-color: var(--cw-customer-color) !important;
    --bs-btn-hover-color: var(--cw-customer-text-color) !important;
    --bs-btn-hover-bg: var(--cw-customer-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-customer-color-darken1) !important;
    --bs-btn-active-color: var(--cw-customer-text-color) !important;
    --bs-btn-active-bg: var(--cw-customer-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-customer-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-customer-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-customer-color) !important;
    --bs-btn-disabled-border-color: var(--cw-customer-color) !important;
}

.btn-customer.nav-link {
    color:var(--cw-customer-text-color) !important;
}
.btn-customer.nav-link:hover {
    color:var(--cw-customer-text-color) !important;
}

.buttons-customer .btn-actions.active{
    border: solid 3px var(--cw-customer-color);
}

.bg-customer{
    background-color: var(--cw-customer-color) !important;
    color:var(--cw-customer-text-color) !important;
}

.card-header.bg-customer{
    background: linear-gradient(0deg, rgba(var(--cw-customer-color-rgb),0.7) 0%, rgba(var(--cw-customer-color-rgb),0.9) 100%) !important;
    color:var(--cw-customer-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-customer-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-customer-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-customer{
    border-color: rgba(var(--cw-customer-color-rgb), 0.3) !important;
}

.table-customer:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-customer-color-rgb), 0.2) !important;
}
.table-customer:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-customer-color-rgb), 0.7) !important;
    color:var(--cw-customer-text-color);
}
.table-striped.table-customer > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-customer-color-rgb), 0.2) !important;
}

.table-customer thead th{
    background: rgb(var(--cw-customer-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-customer-color-rgb),0.3) 0%, rgba(var(--cw-customer-color-rgb),0.5) 100%) !important;
    color:var(--cw-customer-text-color) !important;
    border-color:var(--cw-customer-text-color) !important;
}

.table-customer thead tr{
     border-color:transparent;
 }
.table-customer tfoot tr{
    border-color:transparent;
 }
.text-customer{
    color:var(--cw-customer-color) !important;
 }


.customer.form-check-input:checked {
    background-color: var(--cw-customer-color);
    border-color: var(--cw-customer-color);
}
/** END GENERATED customer **/

/** GENERATED homework **/

:root{
    --cw-homework-text-color: #FFFFFF;
    --cw-homework-color:#83A697;
    --cw-homework-color-rgb: 131,166,151;
    --cw-homework-color-darken1:#779689;
    --cw-homework-color-darken2:#6D8A7D;
}

.btn-homework{
    --bs-btn-color: var(--cw-homework-text-color) !important;
    --bs-btn-bg: var(--cw-homework-color) !important;
    --bs-btn-border-color: var(--cw-homework-color) !important;
    --bs-btn-hover-color: var(--cw-homework-text-color) !important;
    --bs-btn-hover-bg: var(--cw-homework-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-homework-color-darken1) !important;
    --bs-btn-active-color: var(--cw-homework-text-color) !important;
    --bs-btn-active-bg: var(--cw-homework-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-homework-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-homework-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-homework-color) !important;
    --bs-btn-disabled-border-color: var(--cw-homework-color) !important;
}

.btn-homework.nav-link {
    color:var(--cw-homework-text-color) !important;
}
.btn-homework.nav-link:hover {
    color:var(--cw-homework-text-color) !important;
}

.buttons-homework .btn-actions.active{
    border: solid 3px var(--cw-homework-color);
}

.bg-homework{
    background-color: var(--cw-homework-color) !important;
    color:var(--cw-homework-text-color) !important;
}

.card-header.bg-homework{
    background: linear-gradient(0deg, rgba(var(--cw-homework-color-rgb),0.7) 0%, rgba(var(--cw-homework-color-rgb),0.9) 100%) !important;
    color:var(--cw-homework-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-homework-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-homework-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-homework{
    border-color: rgba(var(--cw-homework-color-rgb), 0.3) !important;
}

.table-homework:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-homework-color-rgb), 0.2) !important;
}
.table-homework:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-homework-color-rgb), 0.7) !important;
    color:var(--cw-homework-text-color);
}
.table-striped.table-homework > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-homework-color-rgb), 0.2) !important;
}

.table-homework thead th{
    background: rgb(var(--cw-homework-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-homework-color-rgb),0.3) 0%, rgba(var(--cw-homework-color-rgb),0.5) 100%) !important;
    color:var(--cw-homework-text-color) !important;
    border-color:var(--cw-homework-text-color) !important;
}

.table-homework thead tr{
     border-color:transparent;
 }
.table-homework tfoot tr{
    border-color:transparent;
 }
.text-homework{
    color:var(--cw-homework-color) !important;
 }


.homework.form-check-input:checked {
    background-color: var(--cw-homework-color);
    border-color: var(--cw-homework-color);
}
/** END GENERATED homework **/

/** GENERATED quiz **/

:root{
    --cw-quiz-text-color: #FFFFFF;
    --cw-quiz-color:#c99bb1;
    --cw-quiz-color-rgb: 201,155,177;
    --cw-quiz-color-darken1:#B68CA0;
    --cw-quiz-color-darken2:#A78193;
}

.btn-quiz{
    --bs-btn-color: var(--cw-quiz-text-color) !important;
    --bs-btn-bg: var(--cw-quiz-color) !important;
    --bs-btn-border-color: var(--cw-quiz-color) !important;
    --bs-btn-hover-color: var(--cw-quiz-text-color) !important;
    --bs-btn-hover-bg: var(--cw-quiz-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-quiz-color-darken1) !important;
    --bs-btn-active-color: var(--cw-quiz-text-color) !important;
    --bs-btn-active-bg: var(--cw-quiz-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-quiz-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-quiz-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-quiz-color) !important;
    --bs-btn-disabled-border-color: var(--cw-quiz-color) !important;
}

.btn-quiz.nav-link {
    color:var(--cw-quiz-text-color) !important;
}
.btn-quiz.nav-link:hover {
    color:var(--cw-quiz-text-color) !important;
}

.buttons-quiz .btn-actions.active{
    border: solid 3px var(--cw-quiz-color);
}

.bg-quiz{
    background-color: var(--cw-quiz-color) !important;
    color:var(--cw-quiz-text-color) !important;
}

.card-header.bg-quiz{
    background: linear-gradient(0deg, rgba(var(--cw-quiz-color-rgb),0.7) 0%, rgba(var(--cw-quiz-color-rgb),0.9) 100%) !important;
    color:var(--cw-quiz-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-quiz-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-quiz-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-quiz{
    border-color: rgba(var(--cw-quiz-color-rgb), 0.3) !important;
}

.table-quiz:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-quiz-color-rgb), 0.2) !important;
}
.table-quiz:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-quiz-color-rgb), 0.7) !important;
    color:var(--cw-quiz-text-color);
}
.table-striped.table-quiz > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-quiz-color-rgb), 0.2) !important;
}

.table-quiz thead th{
    background: rgb(var(--cw-quiz-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-quiz-color-rgb),0.3) 0%, rgba(var(--cw-quiz-color-rgb),0.5) 100%) !important;
    color:var(--cw-quiz-text-color) !important;
    border-color:var(--cw-quiz-text-color) !important;
}

.table-quiz thead tr{
     border-color:transparent;
 }
.table-quiz tfoot tr{
    border-color:transparent;
 }
.text-quiz{
    color:var(--cw-quiz-color) !important;
 }


.quiz.form-check-input:checked {
    background-color: var(--cw-quiz-color);
    border-color: var(--cw-quiz-color);
}
/** END GENERATED quiz **/

/** GENERATED email **/

:root{
    --cw-email-text-color: #FFFFFF;
    --cw-email-color:#e66465;
    --cw-email-color-rgb: 230,100,101;
    --cw-email-color-darken1:#D15A5B;
    --cw-email-color-darken2:#BF5354;
}

.btn-email{
    --bs-btn-color: var(--cw-email-text-color) !important;
    --bs-btn-bg: var(--cw-email-color) !important;
    --bs-btn-border-color: var(--cw-email-color) !important;
    --bs-btn-hover-color: var(--cw-email-text-color) !important;
    --bs-btn-hover-bg: var(--cw-email-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-email-color-darken1) !important;
    --bs-btn-active-color: var(--cw-email-text-color) !important;
    --bs-btn-active-bg: var(--cw-email-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-email-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-email-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-email-color) !important;
    --bs-btn-disabled-border-color: var(--cw-email-color) !important;
}

.btn-email.nav-link {
    color:var(--cw-email-text-color) !important;
}
.btn-email.nav-link:hover {
    color:var(--cw-email-text-color) !important;
}

.buttons-email .btn-actions.active{
    border: solid 3px var(--cw-email-color);
}

.bg-email{
    background-color: var(--cw-email-color) !important;
    color:var(--cw-email-text-color) !important;
}

.card-header.bg-email{
    background: linear-gradient(0deg, rgba(var(--cw-email-color-rgb),0.7) 0%, rgba(var(--cw-email-color-rgb),0.9) 100%) !important;
    color:var(--cw-email-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-email-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-email-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-email{
    border-color: rgba(var(--cw-email-color-rgb), 0.3) !important;
}

.table-email:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-email-color-rgb), 0.2) !important;
}
.table-email:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-email-color-rgb), 0.7) !important;
    color:var(--cw-email-text-color);
}
.table-striped.table-email > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-email-color-rgb), 0.2) !important;
}

.table-email thead th{
    background: rgb(var(--cw-email-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-email-color-rgb),0.3) 0%, rgba(var(--cw-email-color-rgb),0.5) 100%) !important;
    color:var(--cw-email-text-color) !important;
    border-color:var(--cw-email-text-color) !important;
}

.table-email thead tr{
     border-color:transparent;
 }
.table-email tfoot tr{
    border-color:transparent;
 }
.text-email{
    color:var(--cw-email-color) !important;
 }


.email.form-check-input:checked {
    background-color: var(--cw-email-color);
    border-color: var(--cw-email-color);
}
/** END GENERATED email **/

/** GENERATED meeting **/

:root{
    --cw-meeting-text-color: #FFFFFF;
    --cw-meeting-color:#A5DF00;
    --cw-meeting-color-rgb: 165,223,0;
    --cw-meeting-color-darken1:#96CA00;
    --cw-meeting-color-darken2:#89B900;
}

.btn-meeting{
    --bs-btn-color: var(--cw-meeting-text-color) !important;
    --bs-btn-bg: var(--cw-meeting-color) !important;
    --bs-btn-border-color: var(--cw-meeting-color) !important;
    --bs-btn-hover-color: var(--cw-meeting-text-color) !important;
    --bs-btn-hover-bg: var(--cw-meeting-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-meeting-color-darken1) !important;
    --bs-btn-active-color: var(--cw-meeting-text-color) !important;
    --bs-btn-active-bg: var(--cw-meeting-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-meeting-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-meeting-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-meeting-color) !important;
    --bs-btn-disabled-border-color: var(--cw-meeting-color) !important;
}

.btn-meeting.nav-link {
    color:var(--cw-meeting-text-color) !important;
}
.btn-meeting.nav-link:hover {
    color:var(--cw-meeting-text-color) !important;
}

.buttons-meeting .btn-actions.active{
    border: solid 3px var(--cw-meeting-color);
}

.bg-meeting{
    background-color: var(--cw-meeting-color) !important;
    color:var(--cw-meeting-text-color) !important;
}

.card-header.bg-meeting{
    background: linear-gradient(0deg, rgba(var(--cw-meeting-color-rgb),0.7) 0%, rgba(var(--cw-meeting-color-rgb),0.9) 100%) !important;
    color:var(--cw-meeting-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-meeting-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-meeting-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-meeting{
    border-color: rgba(var(--cw-meeting-color-rgb), 0.3) !important;
}

.table-meeting:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-meeting-color-rgb), 0.2) !important;
}
.table-meeting:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-meeting-color-rgb), 0.7) !important;
    color:var(--cw-meeting-text-color);
}
.table-striped.table-meeting > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-meeting-color-rgb), 0.2) !important;
}

.table-meeting thead th{
    background: rgb(var(--cw-meeting-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-meeting-color-rgb),0.3) 0%, rgba(var(--cw-meeting-color-rgb),0.5) 100%) !important;
    color:var(--cw-meeting-text-color) !important;
    border-color:var(--cw-meeting-text-color) !important;
}

.table-meeting thead tr{
     border-color:transparent;
 }
.table-meeting tfoot tr{
    border-color:transparent;
 }
.text-meeting{
    color:var(--cw-meeting-color) !important;
 }


.meeting.form-check-input:checked {
    background-color: var(--cw-meeting-color);
    border-color: var(--cw-meeting-color);
}
/** END GENERATED meeting **/

/** GENERATED files **/

:root{
    --cw-files-text-color: #FFFFFF;
    --cw-files-color:#b46024;
    --cw-files-color-rgb: 180,96,36;
    --cw-files-color-darken1:#A35720;
    --cw-files-color-darken2:#96501E;
}

.btn-files{
    --bs-btn-color: var(--cw-files-text-color) !important;
    --bs-btn-bg: var(--cw-files-color) !important;
    --bs-btn-border-color: var(--cw-files-color) !important;
    --bs-btn-hover-color: var(--cw-files-text-color) !important;
    --bs-btn-hover-bg: var(--cw-files-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-files-color-darken1) !important;
    --bs-btn-active-color: var(--cw-files-text-color) !important;
    --bs-btn-active-bg: var(--cw-files-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-files-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-files-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-files-color) !important;
    --bs-btn-disabled-border-color: var(--cw-files-color) !important;
}

.btn-files.nav-link {
    color:var(--cw-files-text-color) !important;
}
.btn-files.nav-link:hover {
    color:var(--cw-files-text-color) !important;
}

.buttons-files .btn-actions.active{
    border: solid 3px var(--cw-files-color);
}

.bg-files{
    background-color: var(--cw-files-color) !important;
    color:var(--cw-files-text-color) !important;
}

.card-header.bg-files{
    background: linear-gradient(0deg, rgba(var(--cw-files-color-rgb),0.7) 0%, rgba(var(--cw-files-color-rgb),0.9) 100%) !important;
    color:var(--cw-files-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-files-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-files-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-files{
    border-color: rgba(var(--cw-files-color-rgb), 0.3) !important;
}

.table-files:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-files-color-rgb), 0.2) !important;
}
.table-files:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-files-color-rgb), 0.7) !important;
    color:var(--cw-files-text-color);
}
.table-striped.table-files > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-files-color-rgb), 0.2) !important;
}

.table-files thead th{
    background: rgb(var(--cw-files-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-files-color-rgb),0.3) 0%, rgba(var(--cw-files-color-rgb),0.5) 100%) !important;
    color:var(--cw-files-text-color) !important;
    border-color:var(--cw-files-text-color) !important;
}

.table-files thead tr{
     border-color:transparent;
 }
.table-files tfoot tr{
    border-color:transparent;
 }
.text-files{
    color:var(--cw-files-color) !important;
 }


.files.form-check-input:checked {
    background-color: var(--cw-files-color);
    border-color: var(--cw-files-color);
}
/** END GENERATED files **/

/** GENERATED links **/

:root{
    --cw-links-text-color: #FFFFFF;
    --cw-links-color:#6ea646;
    --cw-links-color-rgb: 110,166,70;
    --cw-links-color-darken1:#63963F;
    --cw-links-color-darken2:#5B8A3A;
}

.btn-links{
    --bs-btn-color: var(--cw-links-text-color) !important;
    --bs-btn-bg: var(--cw-links-color) !important;
    --bs-btn-border-color: var(--cw-links-color) !important;
    --bs-btn-hover-color: var(--cw-links-text-color) !important;
    --bs-btn-hover-bg: var(--cw-links-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-links-color-darken1) !important;
    --bs-btn-active-color: var(--cw-links-text-color) !important;
    --bs-btn-active-bg: var(--cw-links-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-links-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-links-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-links-color) !important;
    --bs-btn-disabled-border-color: var(--cw-links-color) !important;
}

.btn-links.nav-link {
    color:var(--cw-links-text-color) !important;
}
.btn-links.nav-link:hover {
    color:var(--cw-links-text-color) !important;
}

.buttons-links .btn-actions.active{
    border: solid 3px var(--cw-links-color);
}

.bg-links{
    background-color: var(--cw-links-color) !important;
    color:var(--cw-links-text-color) !important;
}

.card-header.bg-links{
    background: linear-gradient(0deg, rgba(var(--cw-links-color-rgb),0.7) 0%, rgba(var(--cw-links-color-rgb),0.9) 100%) !important;
    color:var(--cw-links-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-links-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-links-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-links{
    border-color: rgba(var(--cw-links-color-rgb), 0.3) !important;
}

.table-links:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-links-color-rgb), 0.2) !important;
}
.table-links:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-links-color-rgb), 0.7) !important;
    color:var(--cw-links-text-color);
}
.table-striped.table-links > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-links-color-rgb), 0.2) !important;
}

.table-links thead th{
    background: rgb(var(--cw-links-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-links-color-rgb),0.3) 0%, rgba(var(--cw-links-color-rgb),0.5) 100%) !important;
    color:var(--cw-links-text-color) !important;
    border-color:var(--cw-links-text-color) !important;
}

.table-links thead tr{
     border-color:transparent;
 }
.table-links tfoot tr{
    border-color:transparent;
 }
.text-links{
    color:var(--cw-links-color) !important;
 }


.links.form-check-input:checked {
    background-color: var(--cw-links-color);
    border-color: var(--cw-links-color);
}
/** END GENERATED links **/

/** GENERATED share **/

:root{
    --cw-share-text-color: #FFFFFF;
    --cw-share-color:#48b799;
    --cw-share-color-rgb: 72,183,153;
    --cw-share-color-darken1:#41A68B;
    --cw-share-color-darken2:#3C987F;
}

.btn-share{
    --bs-btn-color: var(--cw-share-text-color) !important;
    --bs-btn-bg: var(--cw-share-color) !important;
    --bs-btn-border-color: var(--cw-share-color) !important;
    --bs-btn-hover-color: var(--cw-share-text-color) !important;
    --bs-btn-hover-bg: var(--cw-share-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-share-color-darken1) !important;
    --bs-btn-active-color: var(--cw-share-text-color) !important;
    --bs-btn-active-bg: var(--cw-share-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-share-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-share-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-share-color) !important;
    --bs-btn-disabled-border-color: var(--cw-share-color) !important;
}

.btn-share.nav-link {
    color:var(--cw-share-text-color) !important;
}
.btn-share.nav-link:hover {
    color:var(--cw-share-text-color) !important;
}

.buttons-share .btn-actions.active{
    border: solid 3px var(--cw-share-color);
}

.bg-share{
    background-color: var(--cw-share-color) !important;
    color:var(--cw-share-text-color) !important;
}

.card-header.bg-share{
    background: linear-gradient(0deg, rgba(var(--cw-share-color-rgb),0.7) 0%, rgba(var(--cw-share-color-rgb),0.9) 100%) !important;
    color:var(--cw-share-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-share-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-share-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-share{
    border-color: rgba(var(--cw-share-color-rgb), 0.3) !important;
}

.table-share:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-share-color-rgb), 0.2) !important;
}
.table-share:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-share-color-rgb), 0.7) !important;
    color:var(--cw-share-text-color);
}
.table-striped.table-share > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-share-color-rgb), 0.2) !important;
}

.table-share thead th{
    background: rgb(var(--cw-share-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-share-color-rgb),0.3) 0%, rgba(var(--cw-share-color-rgb),0.5) 100%) !important;
    color:var(--cw-share-text-color) !important;
    border-color:var(--cw-share-text-color) !important;
}

.table-share thead tr{
     border-color:transparent;
 }
.table-share tfoot tr{
    border-color:transparent;
 }
.text-share{
    color:var(--cw-share-color) !important;
 }


.share.form-check-input:checked {
    background-color: var(--cw-share-color);
    border-color: var(--cw-share-color);
}
/** END GENERATED share **/

/** GENERATED account **/

:root{
    --cw-account-text-color: #FFFFFF;
    --cw-account-color:#98a5be;
    --cw-account-color-rgb: 152,165,190;
    --cw-account-color-darken1:#8A96AC;
    --cw-account-color-darken2:#7E899E;
}

.btn-account{
    --bs-btn-color: var(--cw-account-text-color) !important;
    --bs-btn-bg: var(--cw-account-color) !important;
    --bs-btn-border-color: var(--cw-account-color) !important;
    --bs-btn-hover-color: var(--cw-account-text-color) !important;
    --bs-btn-hover-bg: var(--cw-account-color-darken2) !important;
    --bs-btn-hover-border-color: var(--cw-account-color-darken1) !important;
    --bs-btn-active-color: var(--cw-account-text-color) !important;
    --bs-btn-active-bg: var(--cw-account-color-darken1) !important;
    --bs-btn-active-border-color: var(--cw-account-color-darken2) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--cw-account-text-color) !important;
    --bs-btn-disabled-bg: var(--cw-account-color) !important;
    --bs-btn-disabled-border-color: var(--cw-account-color) !important;
}

.btn-account.nav-link {
    color:var(--cw-account-text-color) !important;
}
.btn-account.nav-link:hover {
    color:var(--cw-account-text-color) !important;
}

.buttons-account .btn-actions.active{
    border: solid 3px var(--cw-account-color);
}

.bg-account{
    background-color: var(--cw-account-color) !important;
    color:var(--cw-account-text-color) !important;
}

.card-header.bg-account{
    background: linear-gradient(0deg, rgba(var(--cw-account-color-rgb),0.7) 0%, rgba(var(--cw-account-color-rgb),0.9) 100%) !important;
    color:var(--cw-account-text-color) !important;

    -webkit-box-shadow: 0px 7px 7px 0px rgba(var(--cw-account-color-rgb),0.41) !important;
    box-shadow: 0px 7px 7px 0px rgba(var(--cw-account-color-rgb),0.41) !important;
    border-bottom:0px !important;
}

.border-account{
    border-color: rgba(var(--cw-account-color-rgb), 0.3) !important;
    border-width: var(--bs-border-width);
}

.table-account:not(.table-striped) tbody td {
    background-color: rgba(var(--cw-account-color-rgb), 0.2) !important;
}
.table-account:not(.table-striped) tbody th {
    background-color: rgba(var(--cw-account-color-rgb), 0.7) !important;
    color:var(--cw-account-text-color);
}
.table-striped.table-account > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(var(--cw-account-color-rgb), 0.2) !important;
}

.table-account thead th{
    background: rgb(var(--cw-account-color-rgb)) !important;
    background: linear-gradient(0deg, rgba(var(--cw-account-color-rgb),0.3) 0%, rgba(var(--cw-account-color-rgb),0.5) 100%) !important;
    color:var(--cw-account-text-color) !important;
    border-color:var(--cw-account-text-color) !important;
}

.table-account thead tr{
     border-color:transparent;
 }
.table-account tfoot tr{
    border-color:transparent;
 }
.text-account{
    color:var(--cw-account-color) !important;
 }


.account.form-check-input:checked {
    background-color: var(--cw-account-color);
    border-color: var(--cw-account-color);
}
/** END GENERATED account **/

